@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');
body{
    font-size: 1.3rem;
    font-family: 'Noto Sans TC', sans-serif;
}

.select-box{
    border: solid 1px blue;
    padding: 10px;
    margin: 10px auto;
    border-radius: 15px;
}

.travel-box{
    border: solid 1px blue;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.travel-info-box{
    border: solid 1px blue;
    border-radius: 15px;
    padding: 15px 50px;
    margin: 10px;
    text-align: left;
}
.travel-info-box a{
    background: yellow;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    transition: all ease 1s;
}
.travel-info-box a:hover{
    background: blue;
    color: yellow;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.travel-info-box hr{
    margin: 5px auto;
    width: 90%;
    height: 2px;
    border: none;
    background: linear-gradient(to right,blue,yellow,blue);
}
/*
@media (max-width: 767px) {
}
@media (max-width: 480px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (min-width: 980px) {
}
@media (min-width: 1200px) {
}
*/